

<%=link_to 'New tag',new_tag_path,class:"btn btn-primary" %>

<h1>Tags </h1>

<div id="tags">
  <% @tags.each do |tag| %>
    <%= render tag %>
    <p>
      <%= link_to "Edit", edit_tag_path(tag) %>
      <%=button_to"Destoy",tag,method: :delete,data:{"turbo-confirm":"Are you sure?"},class:"btn btn-danger" %>

    </p>
    
  <% end %>

  <%= link_to "Back", root_path %>
</div>


