
<%= render'longer_featured'%>

<%=link_to 'New Post',new_post_path,class:"btn btn-primary" if user_signed_in? %>
<% @posts.each do |post|%>
<%=render post%>
<%end%>
<%=render'pagination'%>

<%= content_for :tag_filter do%>
<div >
    <nav>
        <%@tags.each do |tag| %>
        <%=link_to tag.name,root_path(tag: tag.name),class:"filter-tag"%>
        <%end%>
               </nav>
    
    </div>

<%end%>